$dark-nav-color: #2C3840;
$blue: #005eb8;       //blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //green
$purple: #24135f;     //purple
$red: #8a2a2b;        //red
$fireengine: #CF4520;  //fire engine red
$yellow: #cba052;     //yellow
$rust: #6f2c3f;		  //rust
$black: #2C2C33;      //black
$skyblue: #418fde;
$powderblue: lighten($skyblue, 30%);
$orange: #cf4520;
$tangerine: #d07b00;
$fushia: #8e3a80;
//$aqua: #589c90;
$gold: #807350;
$forest: #003d4c;
$gray: #e5e2e0;       //overrides foundation core
$dark-gray: #4A484C;  //overrides foundation core
$medium-gray: #d6d6d6;
$light-gray: #f4f4f4;