.timely {
  color: $black !important;
  font-family: $font-stack !important;
  font-weight: $font-stack-weight;
  h2, h3, h4, h5 {
    font-family: $font-stack-semibold !important;
    font-weight: $font-stack-semibold-weight;
  }
  p, ul {
    font-size: 16px;
    font-family: $font-stack !important;
    font-weight: $font-stack-weight;
  }
  a {
    color: $blue;
    &:link, &:visited, &:active, &:hover {
      color: $blue;
    }
  }
}

footer.timely.ai1ec-event-footer {
    background: inherit;
    color: $dark-gray;
}


.entry-content .timely a:visited, .comment-content .timely a:visited, .site-footer .widget .timely a:visited {
  color: $blue;
}


.ai1ec-event-time, span.ai1ec-event-title, .ai1ec-event-details {
  font-family: $font-stack-bold !important;
  font-weight: $font-stack-weight;
}

.ai1ec-agenda-widget-view .ai1ec-date {
  background: none !important;
  &.ai1ec-today {
    background: none !important;
  }
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none !important;
  background: none !important;
}


.ai1ec-agenda-widget-view {
  .ai1ec-event {
    .ai1ec-event-time, > a {
      color: $black;
    }
    .ai1ec-event-title {
    }
  }
  .ai1ec-date.ai1ec-today {
    border-top: none;
  }
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none;
}

.ai1ec-agenda-widget-view .ai1ec-month, .ai1ec-agenda-view .ai1ec-month {
  background: $blue !important;
}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-title {
	color: $blue !important;
}

.ai1ec-event-avatar {
  box-shadow: none;
}

.ai1ec-agenda-view .ai1ec-event:hover .ai1ec-event-title {
    color: $blue;
}

.ai1ec-field-label {
  color: $dark-gray !important;
  text-align: left;
}

.ai1ec-subscribe-dropdown.ai1ec-dropdown.ai1ec-btn.ai1ec-btn-default.ai1ec-btn-xs {
    margin-left: .75rem;
    margin-bottom: .75rem;
}

.ai1ec-no-results {
  color: $black;
  padding: .75rem;
  font-size: 1.125rem !important;
}

.ai1ec-pull-left {
  margin-left: .5rem;
}

.ai1ec-event-details.ai1ec-clearfix {
  margin-left: -1rem;
}

.timely.ai1ec-calendar {
  .ai1ec-agenda-view .ai1ec-date-title {
    background-image: none;
    background: $blue;
    color: $white;
    border: none;
  }
  .ai1ec-agenda-view .ai1ec-month {
    @include font-stack-semibold;
    color: $white;
    text-align: center;
    padding: 0;
  }
  span.ai1ec-event-title {
    font-size: 1rem;
  }
  .ai1ec-agenda-view .ai1ec-event .ai1ec-event-time {
    font-size: .9rem;
  }
  a.ai1ec-read-more.ai1ec-btn.ai1ec-btn-default.ai1ec-load-event {
    color: $white !important;
    background: $blue !important;
  }
}

.ai1ec-month-view th {
  background: $blue !important;
  color: $white !important;
  text-shadow: none;
}

.event p img[alt=""], .event p img:not([alt]) {
  filter: grayscale(100%) brightness(40%);
}

.event img.event-thumb {

  @include breakpoint (medium down) {
    width: 45%;
    float: inherit;
  }
  @include breakpoint (large) {
    max-width: 300px;
  }
}

.ai1ec_event {
  @include breakpoint (xlarge) {
    .ai1ec-event-details .ai1ec-col-sm-3 {
      width: 10%
    }
    &.has-post-thumbnail {
      .ai1ec-event-details .ai1ec-col-sm-3 {
        width: 20%;
      }
    }
    .ai1ec-field-value.ai1ec-col-sm-9 {
      padding-left: 0px;
    }
  }  
}

.ai1ec_event .event-image {
  margin-right: 1rem;
}

.ai1ec-single-event .ai1ec-time .ai1ec-field-value, .ai1ec-multi-event .ai1ec-time .ai1ec-field-value {
  @include breakpoint(medium down) {
    font-size: 1rem !important;
  }
}

.ai1ec_event .entry-content .content-area {
  @include breakpoint (large) {
    p, ul {
      margin: 2rem;
    }
    ul {
      margin-left: 4rem;
    }
  }
}

.timely .ai1ec-nav-pills > li.ai1ec-active > a, .timely .ai1ec-nav-pills > li.ai1ec-active > a:hover, .timely .ai1ec-nav-pills > li.ai1ec-active > a:focus {
  background-color: $darkblue !important;
}

.ai1ec-active > a, .entry-content .timely .ai1ec-dropdown-menu > .ai1ec-active > a,  {
  //color: $black !important;
}

.ai1ec-dropdown-menu > .ai1ec-active > a, .ai1ec-dropdown-menu > .ai1ec-active > a:hover, .ai1ec-dropdown-menu > .ai1ec-active > a:focus {
  background-color: $darkblue !important;
  color: $white;
}
