.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(100);
  min-height: rem-calc(100);
  @include breakpoint(medium) {
    height: rem-calc(200);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(275);
  }
  &.homepage {
    height: rem-calc(150);
    @include breakpoint(medium) {
      height: rem-calc(250);
    }
    @include breakpoint(xlarge) {
      height: rem-calc(325);
    }
  }
}

@media screen and (min-width: 1900px ) {
  .featured-hero-image {
    width: 100%;
    height: 500px;
  }
}
