.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(100);

  @include breakpoint(medium) {
    height: rem-calc(200);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(275);
  }
  &.homepage {
    height: rem-calc(150);
    @include breakpoint(medium) {
      height: rem-calc(250);
    }
    @include breakpoint(xlarge) {
      height: rem-calc(325);
    }
  }
}
