.course-listings {
	font-size: 1rem;
	border: none;
	div.dataTables_wrapper div.dataTables_info {
 		padding: 8px;
	}
	div.dataTables_wrapper div.dataTables_length label {
		margin: .5rem;
	}
	div.dataTables_wrapper div.dataTables_filter label {
		//padding-top: 2.5rem;
	}
	.dataTables_filter {
    	float: right;
	}
	.dataTables_info {
    	float: inherit !important; 
    	clear: none;
	}
	.dataTables_length {
    	float: left; 
	}
	.course-table {
		th {
			@include font-stack-semibold;
		}
		td {
			font-size: .9rem;
		}
	}
}

#courses-tabs {
	border: none;
	.tabs-title > a {
		font-size: 1rem;
		@include font-stack-bold;
	}
}

.course-description {
	h1 {
		@include font-stack-bold;
		font-size: 1.5rem;
		padding-right: 1rem;
		small {
			color: $black;
		}
	}
	p {
		padding-right: 1rem;
		font-size: 1rem;
	}
}


.courses-cpt-title {
	font-size: 1.5rem;
}

.courses-cpt {
	li.course-cpt {
		a.accordion-title {
			color: $blue;
			@include font-stack-bold;
			font-size: 1.25rem;
		}
		h3 {
			font-size: 1.25rem;
		}
		h4 {
			a {
				font-size: 1.125rem;
			}
		}
	}
}

