.exhibition {
    background: url('../images/blueInWhite_corner1.svg') no-repeat right bottom;
    background-color: $white;
    background-size: 2.666666666666667rem auto;
    border: .06667rem solid $medium-gray;
    border-bottom: none;
    box-shadow: 0 0.4rem 0 0 $blue;
    margin-bottom: 1.5rem;
    //padding: .5rem;
    //@include breakpoint(large down) {
    	//img {
    		//max-width: 12.5rem;
    	//}
    //}
    h1 {
        @include font-stack-semibold;
        font-size: 1.25rem;
    }
    li {
        font-size: 1rem;
    }
}

.exhibition-image {
position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
    img {
      position: absolute;
    }

}

.exhibit-body {
    .exhibit-image {
        border: none;
        @include breakpoint(large) {
            margin-left: -1rem;
        }
        img {
            //margin-bottom: .5rem;
            //max-height: 300px;
            //width: auto;
        }
    }
    small {
        //override default foundation css
        color: $black;
    }
}