.front-hero-featured-image {
  img {
    @include breakpoint(medium only) {
      max-width: 100%;
      height: auto;
    }
  }
}

// Intro
.background-bluejaysblue {
  background: $powderblue;
  padding: 1rem 0;
}
.intro {
  @include xy-grid-container;
  @include xy-grid;

  .seo-intro {
    padding: .75rem 0;
    @include breakpoint(small) {
      @include xy-cell(12);
    }
    @include breakpoint(medium) {
      @include xy-cell(11);
      //@include xy-cell-offset(1);
      h2 {
        font-size: 1.35rem;
        margin-bottom: 1.5rem;
      }
      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
    p {
      @include font-stack;
      font-size: 1.125rem;
      @include breakpoint (xlarge) {
        font-size: 1.25rem;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      strong {
        @include font-stack-semibold;
      }
      a {
        border-bottom: .0625rem solid;
        border-bottom-color: $light-gray;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }
}

// Section divider
.section-divider {
  @include xy-grid-container;
  @include xy-grid;

  hr {
    @include xy-cell(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}


.main-grid.homepage {
  @include breakpoint(medium) {
    .main-content { order: 1; }
    .sidebar { order: 2; }
  }
  padding-top: 1rem;
}

/*.home-widgets {
  @include xy-grid-container;
  @include xy-grid;
  .widget {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(3);
    }
  }
}*/

.homepage-news {
  .news-title, .hub-title {
    //margin-bottom: 1rem;
    h2 {
      font-size: 1.5rem;
      @include font-header-extrabold;
      a {
        border: none;
        border-bottom: .125em solid;
        border-bottom-color: $medium-gray;
        background-color: transparent;
        border-radius: 0;
        transition: border-color,background-color,color;
        transition-duration: 250ms,250ms,250ms;
        transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
        &:hover {
          border-bottom: .125em solid;
          border-bottom-color: $dark-gray;
        }
      }
    }
  }
  .post-listing {
    h2 {
      font-size: 1.5rem;
    }
  }
  time.updated {
    color: $dark-gray;
    text-transform: uppercase;
    @include font-stack-semibold;
  }
  .homepage-news-archive {
	font-size: 1.25rem;
    margin: 1rem 0;
  }
}
.homepage-article {
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid $gray;
  &:first-of-type{
    border-top: none;
  }
  &.wp-sticky {
    margin-top: 1rem;
  }
}
.hub-article {
  border-bottom: 1px solid $gray;
  &:last-of-type {
    border-bottom: none;
  }
  padding-bottom: 1rem;
  margin-top: 1rem;
  summary {
    list-style-type: none;
  }
}

.hub-title {
  margin-top: 2rem;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .fullscreen-image-slider .orbit-caption {
    padding: 0.3rem;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .fullscreen-image-slider {
    .orbit-image {
      width: 100%;
    }
    .orbit-caption {
      right: 5%;
      bottom: 50%;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      color: $white;
      width: 550px;
      padding: 2rem 4rem;
      font-size: 1.25rem;
      background-color: rgba(44, 44, 51, 0.66);
    }
  }
}

.fullscreen-image-slider .orbit-caption > {
  h1 {
    font-size: 1.95rem;
  }
  h4 > a {
    color: white;
  }
}

.orbit-caption {
  p {
    @include font-stack-semibold;
  }
}

@media screen and (min-width: 90em) {
  .top-bar .nav-shield img  {
    width: 350px;
  }
}

//AGHI Front Page Template
.aghi-events {
  background: $light-gray;
  .aghi-events-intro {
    @include breakpoint(small) {
      @include xy-cell(12);
    }
    @include breakpoint(medium) {
      @include xy-cell(11);
    }
    h1 {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
  .events-feed {
    padding: .75rem 0;
    @include xy-grid-container;
    @include xy-grid;
    .aghi-events-home-widget {
      .tribe-mini-calendar-event {
        border-bottom: none;
      }
    }
  }
}

.humanities-highlights, .highlighted-research{
  border-bottom: 1px solid $medium-gray;
  margin-bottom: 1rem;
  h1{
    font-size: 1.5rem;
    small {
      @include font-stack-semibold;
      color: $black;
      line-height: inherit;
    }
  }
  h2.archive-link {
    font-size: 1.25rem;
    @include font-stack-semibold;
    padding-bottom: .5rem;
  }
  .news-article {
    border-bottom: none;
  }
  .slide-caption {
    p {
      a:not(.button) {
        @include link;
      }
    }
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  img.front-humanities-highlight {
    max-width: 350px;
  }
}

//Research Template

.highlighted-research {
   background: $light-gray;
   border-bottom: none;
  .fa-circle {
    color: $blue;
  }
  h1 {
    margin: 2rem 0;
  }
  .fa-stack {
    margin-top: 2rem;
  }
  .orbit {
    margin: 1rem;
  }
  .slide-caption {
    padding-left: 2rem;
    @include breakpoint(large) {
      margin-top: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h5 {
      color: $dark-gray;
    }
  }
  .orbit-previous, .orbit-next {
    color: $black;
  }
}

//Video Template

.fullscreen-video {
  position: relative;
  margin-bottom: -1rem;
}

/* Style the button used to pause/play the video */

.controls {
  border: none;
  background-color: transparent;
  color: transparent;
  font-size: 2.5rem;

  .toggle-playback, .caption {
    width: 1em;
    height: 1em;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 2em;
    z-index: 101;
    cursor: pointer;
    display: block;
    margin-bottom: .25rem;
    .far, .fas {
      color: $blue;
    }
  }
  .caption {
    &.has-tip {
      border-bottom: none;
    }
  }
}

.tooltip {
  font-size: 85%;
  background-color: $white;
  color: $black;
  //max-width: 12rem;
  &.top::before {
    border-color: $white transparent transparent
  }
}

/**
 * Set default positioning as a fallback for if the plugin fails
 */
.jquery-background-video-wrapper {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
        background-size: cover;
}
.jquery-background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
      transition: opacity 300ms linear;
}
.js .jquery-background-video.is-visible {
  opacity: 1;
}

/**
 * Pause/play button
 */
.jquery-background-video-pauseplay {
  position: absolute;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  padding: 0 !important;
  cursor: pointer;
  outline: none !important;
}
.jquery-background-video-pauseplay span {
  display: none;
}
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .3s ease;
      transition: all .3s ease;
  font-size:2.5rem;
}

.jquery-background-video-pauseplay {
  color: $blue;
  &:focus {
    color: $blue;
  }
  &.play:before {
    font-family: $font-awesome;
    content: '\f144';
  }
  &.pause:before {
    font-family: $font-awesome;
    content: '\f28b';
  }
}

.jquery-background-video-pauseplay.pause:after {
  left: 10px;
}

button.jquery-background-video-pauseplay.play, button.jquery-background-video-pauseplay.pause {
  &:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
  }
}
.bucket-area {
  background-image: url('../images/ag-square.png')
}
.buckets {
  //padding-top: 1.25rem;
  padding: 2.5rem 0;
  @include xy-grid-container;
  @include xy-grid;
  .explore-title {
    h2 {
      margin: 0 0 1.875rem;
      font-size: 1.75rem;
      @include font-header-extrabold;
    }
  }
  .widget_title {
    padding-bottom: .25rem !important;
  }
  .textwidget.bucket {
    p {
      font-size: 1rem;
    }
  }
  .bucket {
    a {
      color: $black;
      &:focus, &:hover {
        img {
          opacity: .7;
        }
        h3 {
          color: $black;
        }

      }
    }
    .bucket-title {
      h3 {
        color: $blue;
        font-size: 1.5rem
      }
    }
    .bucket-text {
      p {
        color: $black;
      }
    }
    .bucket-image {
      margin-bottom: 1rem;
    }
  }
}

.hero {
  .full-screen-image {
    position: relative;
    .front-hero {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /*height: rem-calc(150);
      @include breakpoint(medium) {
        height: rem-calc(250);
      }
      @include breakpoint(xlarge) {
        height: rem-calc(400);
      }*/
      .caption {
        position: absolute;
        right: 5%;
        bottom: 50%;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
        color: $white;
        width: 400px;
        padding: .75rem 1rem;
        font-size: 1rem;
        background-color: rgba(44, 44, 51, 0.66);
        font-family: $font-stack-semibold;
        font-weight: $font-stack-semibold-weight;
        h1 {
          font-size: 1.25rem;
          text-shadow: 2px 2px 2px #000;
          text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
        }
        @include breakpoint(xlarge) {
          padding: 1rem 1.5rem;
          width: 550px;
          p, li {
            font-size: 1.25rem;
          }
          h1 {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}
