$testimonial-container-margin-bottom: 1rem;
$testimonial-container-radius: $global-radius;
$testimonial-container-background: $white;
$testimonial-container-color: $black;
$testimonial-container-image-size: rem-calc(190);

.testimonial-container {
  margin-bottom: $testimonial-container-margin-bottom;
  background-color: $testimonial-container-background;
  color: $black;
  overflow: hidden;
  padding: 0;
  border-radius: $testimonial-container-radius;

  .card-section {
    padding: inherit;
  }

  .testimonial-avatar {
    .testimonial-image {
      display: block;
      margin: auto;
      //border-radius: 50%;
      width: $testimonial-container-image-size;
      height: $testimonial-container-image-size;
      padding: rem-calc(15);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .testimonial-bio {
    padding: .5rem;
    text-align: center;
    h2 {
      font-size: 1.125rem;
      @include font-stack-bold;
    }
    h3 {
      @include font-stack;
      font-size: 1rem;
      line-height: 1.1;
      span.light {
        @include font-stack;
      }
    }
  }
  .testimonial-button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover, &:focus {
      background-color: $white;
      border: 1px solid $blue;
      color: $blue;
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}

.testimonial-content {
  h1 {
    @include font-stack-bold;
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  h2, h3 {
    font-size: 1.25rem;
    @include font-stack-bold;
  }
  p {
    padding-right: 3rem;
    letter-spacing: -.2px;
  }
}

.profile {
  .profile-headshot {
    height: 20rem;
    background-size: cover;
    border-radius: .25rem;
  }
  .profile-bio {
    text-align: left;
    h2 {
      font-size: 1.25rem;
    }
    h3 {
      @include font-stack-semibold;
      font-size: 1.125rem;
    }
    p {
      font-size: 1rem;
    }
  }
}