/* AGHI Front Page Events Widget */

.aghi-events-home-widget .widget.home-featured.tribe-events-adv-list-widget {
  border: none;
  margin-bottom: 0;
}
.aghi-events-home-widget p.tribe-events-widget-link, .aghi-events-home-widget .widget_title {
  display: none;
}
.aghi-events-home-widget .tribe-mini-calendar-event .list-date span {
  font-family:'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
}
.aghi-events-home-widget .tribe-mini-calendar-event .list-date span.list-dayname {
  color: #31261D;
}
.aghi-events-home-widget .tribe-events-adv-list-widget .tribe-mini-calendar-event .list-info h2.tribe-events-title {
  font-size: 1.25rem;
}
.aghi-events-home-widget .tribe-events-adv-list-widget .tribe-mini-calendar-event .list-info .tribe-events-duration {
  font-size: 1.125rem;
  color: #31261D;
  font-family:'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
  font-weight: 600;
}

.aghi-events-home-widget .tribe-events-adv-list-widget .tribe-mini-calendar-event .list-info .tribe-events-location span.tribe-events-venue {
  font-family:'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
  font-weight: 600;
}