:root {
  --tec-font-family-sans-serif: "gentona-light", system-ui, BlinkMacSystemFont,
    -apple-system, Segoe UI, sans-serif;
  --font-family-base: var(--tec-font-family-sans-serif);
  --tec-color-button-primary: #002d72;
  --tec-color-button-primary-hover: #68ace5;
  --tec-font-size-2: 1.125rem;
  --tec-color-text-primary: #31261d;
  --tec-color-text-event-date: #31261d;
  --tec-color-link-accent: #002d72;
  --tec-color-accent-primary: #002d72;
  --tec-color-accent-primary: #002d72;
}

/* Calendar/Listing View */

tribe-common .tribe-common-h2,
tribe-common .tribe-common-h3,
tribe-common .tribe-common-h4,
tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
h2.tribe-events-calendar-latest-past__heading.tribe-common-h5.tribe-common-h3--min-medium,
span.tribe-events-c-top-bar__datepicker-desktop.tribe-common-a11y-hidden {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
}

.tribe-events .tribe-events-calendar-latest-past__event-datetime,
.tribe-events .tribe-events-calendar-latest-past__event-date-tag-month,
.tribe-events .tribe-events-calendar-latest-past__event-date-tag-year {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
    font-weight: 600;
    color:#31261d;
    font-size: 1rem;
}

a.tribe-events-calendar-latest-past__event-title-link.tribe-common-anchor-thin {
  color: #002d72 !important;
  border-bottom-width: 2px;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: rgba(229, 226, 224, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a.tribe-events-calendar-latest-past__event-title-link.tribe-common-anchor-thin:hover {
  border-bottom-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(74, 72, 76, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(49, 38, 29, var(--tw-text-opacity));
}

.tribe-common-g-row.tribe-events-calendar-latest-past__event-row,
.tribe-common-g-row.tribe-events-calendar-list__event-row {
  border: 1px solid #d6d6d6;
  padding: 1rem;
}

.tribe-events-calendar-list__event
  .tribe-events-calendar-list__event-details.tribe-common-g-col {
  width: 100%;
}

.tribe-events-calendar-month__day.tribe-events-calendar-month__day--past {
  background-color: #f8f8f8;
}

/* Single Event View */

/* Single Event View */
@media print, screen and (min-width: 40em) {
  #tribe-events-pg-template, .tribe-events-pg-template {
    max-width: 87.5rem;
    margin-left: auto !important;
    margin-right: auto !important;
    }
  }

.tribe-events-single.tribe-blocks-editor h2.tribe-events-schedule__datetime {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
}

span.tribe-events-schedule__separator.tribe-events-schedule__separator--date {
  color: #31261d;
}

.tribe-events-single.tribe-blocks-editor p {
  font-size: 1.25rem;
  color: #31261d;
}

.tribe-events-single.tribe-blocks-editor p a,
.tribe-events-single.tribe-blocks-editor ol li a,
.tribe-events-single.tribe-blocks-editor ul li a {
  color: #002d72;
  border: none;
  border-bottom: 0.125em solid;
  border-bottom-color: #d6d6d6;
  background-color: transparent;
  border-radius: 0;
  transition: border-color, background-color, color;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  color: #002d72 !important;
}

.tribe-events-single.tribe-blocks-editor p a:hover,
.tribe-events-single.tribe-blocks-editor ol li a:hover
.tribe-events-single.tribe-blocks-editor ul li a:hover {
  color: #31261d;
  border-bottom: 0.125 em solid;
  border-bottom-color: #4a484c;
}

.tribe-events-single.tribe-blocks-editor .tribe-events-notices {
  background-color: #fff2d9;
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  color: #31261d;
}

.tribe-block__events-link .tribe-block__btn--link:before {
  display: none;
}

.tribe-block__events-link .tribe-block__btn--link a:before {
  display: none;
  margin-right: 0;
}

.tribe-block__events-link .tribe-block__btn--link a:hover {
  background: var(--tec-color-button-primary-hover) !important;
  color: var(--tec-color-text-primary) !important;
}

.tribe-block__venue {
  border: none !important;
}

span.tribe-block__venue__website a,
a.tribe-events-gmap {
  color: #002d72;
  border: none;
  border-bottom: 0.125em solid;
  border-bottom-color: #d6d6d6;
  background-color: transparent;
  border-radius: 0;
  transition: border-color, background-color, color;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}

span.tribe-block__venue__website a:hover,
a.tribe-events-gmap:hover {
  color: #31261d;
  border-bottom: 0.125em solid;
  border-bottom-color: #4a484c;
}

a.tribe-events-gmap {
  display: inline-block !important;
}

.single-tribe_events main.tribe-events-pg-template {
  margin: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.tribe-events-calendar-list .tribe-event-categories li {
  display: inline;
  border: 1px solid #002d72;
  background-color: #002d72;
  padding: 3px 9px;
  border-radius: 30px;
  margin-right: 3px;
  font-size: 0.8em;
}
.tribe-events-calendar-list .tribe-event-categories li:hover {
  background-color: #fefefe !important;
}
.tribe-events-calendar-list .tribe-event-categories li a {
  color: #fefefe !important;
border: none !important;
font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
Segoe UI, sans-serif;
}
.tribe-events-calendar-list .tribe-event-categories li:hover a {
  color: #002d72 !important;
}

.tribe-related-event-info {
  padding: .5rem .75rem !important;
}

.tribe-related-events-title {
  line-height: 1.25 !important;
}

.tribe-events-schedule__timezone {
  color: #31261d;
}

.tribe-events-schedule__separator.tribe-events-schedule__separator--time {
  font-size: 20px;
}

.tribe-events-event-image img[alt=""], .tribe-events-event-image img:not([alt]) {
 display: none;
}

/* Series View */
.tribe-events-series-relationship-marker, .tribe-events-series-relationship-single-marker {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
  Segoe UI, sans-serif !important;
  font-weight: 600 !important;
}

.tribe-events-pro-summary__event-datetime {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
  Segoe UI, sans-serif !important;
  font-weight: 600 !important;
  font-size: 1rem;
}

a.tribe-events-series-relationship-single-marker__title.tribe-common-cta--alt {
  color: #002d72;
  border: none;
  border-bottom: 0.125em solid;
  border-bottom-color: #d6d6d6;
  background-color: transparent;
  border-radius: 0;
  transition: border-color, background-color, color;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
a.tribe-events-series-relationship-single-marker__title.tribe-common-cta--alt:hover {
  color: #31261d;
  border-bottom: 0.125em solid;
  border-bottom-color: #4a484c;
}

.single-tribe_event_series .tribe_event_series .meta {
  display: none;
}

.tribe-events-series-relationship-marker, .tribe-events-series-relationship-single-marker {
	font-family: gentona-bold,"Helvetica Neue",Roboto,sans-serif !important;
}

.tribe-common .tribe-common-c-btn-border, .tribe-common a.tribe-common-c-btn-border {
background-color: #002d72;
border: none;
	color: #fefefe;
}

.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button.tribe-events-c-subscribe-dropdown__button--active, .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:focus, .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:focus-within, .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button.tribe-events-c-subscribe-dropdown__button--active, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:focus, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:focus-within, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover {
	background: #fefefe;
	border: 1px solid #002d72;
	color: #002d72
}
.tribe-events-meta-group a {
	color: #002d72 !important;
	border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
  border-bottom: .125em solid;
    border-bottom-color: currentcolor;
  border-bottom-color: #d6d6d6;
  background-color: transparent;
  border-radius: 0;
  transition: border-color,background-color,color;
    transition-duration: 0s, 0s, 0s;
    transition-timing-function: ease, ease, ease;
  transition-duration: 250ms,250ms,250ms;
  transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
}

.tribe-events-meta-group a:hover {
	color: #31261d;
border-bottom: .125em solid;
  border-bottom-color: currentcolor;
border-bottom-color: #4a484c;
}	

/* Hide Flyers or Images without alt text! */
.tribe-events-single img[alt=""],
.tribe-events-single img:not([alt]),
img.tribe-events-calendar-latest-past__event-featured-image[alt=""],
img.tribe-events-calendar-latest-past__event-featured-image:not([alt]),
img.tribe-events-calendar-day__event-featured-image-link[alt=""],
img.tribe-events-calendar-day__event-featured-image-link:not([alt]),
img.tribe-events-calendar-list__event-featured-image[alt=""],
img.tribe-events-calendar-list__event-featured-image:not([alt]) {
  display: none;
}

/* Month View Tooltips */
.tribe-events-calendar-month__calendar-event-tooltip-description.tribe-common-b3,
.tribe-events-calendar-month__calendar-event-tooltip-datetime{
	font-size: .85rem!important;
}

@media screen and (min-width: 1023px) {
	.tribe-events-tooltip-theme {
    width: 400px !important;
    max-width: unset !important;
}
.tribe-events-tooltip-theme .tribe-events-calendar-month__calendar-event-tooltip-featured-image-wrapper {
    float: left;
    margin-right: 2em;
}
.tribe-events-tooltip-theme .tribe-events-calendar-month__calendar-event-tooltip-title {
    clear: none;
}
}