:root {
  --tec-font-family-sans-serif: "gentona-light", system-ui, BlinkMacSystemFont,
    -apple-system, Segoe UI, sans-serif;
  --font-family-base: var(--tec-font-family-sans-serif);
  --tec-color-button-primary: #002d72;
  --tec-color-button-primary-hover: #68ace5;
  --tec-font-size-2: 1.125rem;
  --tec-color-text-primary: #31261d;
  --tec-color-text-event-date: #31261d;
  --tec-color-link-accent: #002d72;
  --tec-color-accent-primary: #002d72;
  --tec-color-accent-primary: #002d72;
}

/* Calendar/Listing View */

tribe-common .tribe-common-h2,
tribe-common .tribe-common-h3,
tribe-common .tribe-common-h4,
tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
h2.tribe-events-calendar-latest-past__heading.tribe-common-h5.tribe-common-h3--min-medium,
span.tribe-events-c-top-bar__datepicker-desktop.tribe-common-a11y-hidden {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
}

.tribe-events .tribe-events-calendar-latest-past__event-datetime,
.tribe-events .tribe-events-calendar-latest-past__event-date-tag-month,
.tribe-events .tribe-events-calendar-latest-past__event-date-tag-year {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
}

a.tribe-events-calendar-latest-past__event-title-link.tribe-common-anchor-thin {
  color: #002d72 !important;
  border-bottom-width: 2px;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: rgba(229, 226, 224, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a.tribe-events-calendar-latest-past__event-title-link.tribe-common-anchor-thin:hover {
  border-bottom-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(74, 72, 76, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(49, 38, 29, var(--tw-text-opacity));
}

.tribe-common-g-row.tribe-events-calendar-latest-past__event-row,
.tribe-common-g-row.tribe-events-calendar-list__event-row {
  border: 1px solid #d6d6d6;
  padding: 1rem;
}

.tribe-events-calendar-list__event
  .tribe-events-calendar-list__event-details.tribe-common-g-col {
  width: 100%;
}

.tribe-events-calendar-month__day.tribe-events-calendar-month__day--past {
  background-color: #f8f8f8;
}

/* Single Event View */

.tribe-events-single.tribe-blocks-editor h2.tribe-events-schedule__datetime {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
}

span.tribe-events-schedule__separator.tribe-events-schedule__separator--date {
  color: #31261d;
}

.tribe-events-single.tribe-blocks-editor p {
  font-size: 1.25rem;
  color: #31261d;
}

.tribe-events-single.tribe-blocks-editor p a {
  color: #002d72;
  border: none;
  border-bottom: 0.125em solid;
  border-bottom-color: #d6d6d6;
  background-color: transparent;
  border-radius: 0;
  transition: border-color, background-color, color;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  color: #002d72 !important;
}

.tribe-events-single.tribe-blocks-editor p a:hover {
  color: #31261d;
  border-bottom: 0.125 em solid;
  border-bottom-color: #4a484c;
}

.tribe-events-single.tribe-blocks-editor .tribe-events-notices {
  background-color: #fff2d9;
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  color: #31261d;
}

.tribe-block__events-link .tribe-block__btn--link:before {
  display: none;
}

.tribe-block__events-link .tribe-block__btn--link a:before {
  display: none;
  margin-right: 0;
}

.tribe-block__events-link .tribe-block__btn--link a:hover {
  background: var(--tec-color-button-primary-hover) !important;
  color: var(--tec-color-text-primary) !important;
}

span.tribe-block__venue__website a,
a.tribe-events-gmap {
  color: #002d72;
  border: none;
  border-bottom: 0.125em solid;
  border-bottom-color: #d6d6d6;
  background-color: transparent;
  border-radius: 0;
  transition: border-color, background-color, color;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}

span.tribe-block__venue__website a:hover,
a.tribe-events-gmap:hover {
  color: #31261d;
  border-bottom: 0.125em solid;
  border-bottom-color: #4a484c;
}

a.tribe-events-gmap {
  display: inline-block !important;
}

.single-tribe_events main.tribe-events-pg-template {
  margin: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}